<!DOCTYPE html>
<html lang="en" class="has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>IA</title>

  <!-- Bulma is included -->
 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.min.css') }}"/>
  {% block css_custom %}

  {% endblock %}
  
  

  <!-- Fonts -->
  <link rel="dns-prefetch" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
   <!-- Vue is included --> 
   <script  src="{{ url_for('static', filename='node_modules/vue/dist/vue.js')}}"></script>

  
   <script type="module" src="{{ url_for('static', filename='node_modules/axios/dist/axios.js')}}"></script>
   <script  src="{{ url_for('static', filename='node_modules/sweetalert2/dist/sweetalert2.all.js')}}"></script>
  <!-- Scripts below are for demo only -->
  <script src="{{ url_for('static', filename='js/main.min.js') }}"></script>
  <script type="module"  src="{{ url_for('static', filename='node_modules/buefy/dist/buefy.js')}}"></script>


  {% block js_custom %}

  {% endblock %}


  
  
 
</head>
<body>
<div id="app">
  {% include 'header.html' %}
  <section class="hero is-hero-bar">
    <div class="hero-body">
      <div class="level">
        <div class="level-left">
          <div class="level-item"><h1 class="title">
            Flujo IA
          </h1></div>
        </div>
        <div class="level-right" style="display: none;">
          <div class="level-item"></div>
        </div>
      </div>
    </div>
  </section>


  <section class="section" >

    {% block content %}
    {% endblock %}
   

  </section>
  
  {% include 'footer.html' %}

  {% block modals %}
  {% endblock %}

</div>







<!-- Icons below are for demo only. Feel free to use any icon pack. Docs: https://bulma.io/documentation/elements/icon/ -->
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">

</body>
</html>

